stoel_met_coordinaten_calibration.png
stoel_met_coordinaten_verification.png
led_doosje_calibration.png
led_doosje_verification.png
projection_matrix.npy
backup
__pycache__
calibration_matrix.json
calibration_matrix.txt
